{% extends "page.html" %}

{% block content %}
<h2>Lobster Control!</h2>
<h3>will write this out one day...</h3>

<p>Control program for <a href="/projects/lobster40">Lobster40</a></p>


<figure>
    <img src="https://media.twitch.dance/LobsterControl_KeebDisplay.png" width="30%" alt="A keyboard connected to Lobster Control, with the display showing Be Sweet By Japanese Breakfast."/>
    <figcaption>Syncing with Spotify via Windows Media API</figcaption>
</figure>


<figure>
    <img src="https://media.twitch.dance/LobsterControl_Nokeeb.png" width="30%" alt="No Keyboard Connected to Lobster Control"/>
    <figcaption>When no keyboard is found...</figcaption>
</figure>


{% endblock %}