{% extends "page.html" %}

{% block content %}
    <div id="beginning">
        <a href="https://www.uweformulastudent.co.uk"><h2>UWE Formula Student</h2></a>
        <p>
            From 2022 to 2025 I was involved in UWE's Formula Student team, which takes part in the Formula Student Competition, a global engineering design competition, built to train engineers to improve practical skills and cohesive documentation along with competitive design.
        </p>
        <p>My role went from Head of Electronics to Team Principle in my last year, where I had the fantastic opportunity to oversee the day-to-day operation of the team and ensure a smooth year. We built the team's 12th car and came a record 5th in Formula Student Spain, the team's second best result.</p>
    </div>
    <hr style="color: #BB86FC;"/>
    <div id="main-section">
        <h3>Here are a few of the projects I worked on:</h3>
            <ul>
                <li>2025 Wiring Loom</li>
                <li>Low-Voltage Hybrid Project</li>
            </ul>
            <div id="fs-projects" style="display: flex">
                <div id="ec-div">
                    <figure>
                        <img src="https://media.twitch.dance/blog/od-endcap-design.webp" alt="Wiring loom for F88ECU" style="width:100%">
                        <figcaption>Self-designed encoder end-cap for <a href="https://docs.odriverobotics.com/v/latest/hardware/oa1-datasheet.html">ODrive OA1.</a></figcaption>
                    </figure>
                </div>

                <div id="loom-div">
                    <figure>
                        <img src="https://media.twitch.dance/blog/loom_1.jpg" alt="Wiring loom for F88ECU" style="width:35%">
                        <figcaption>UWEFS-12's Wiring Loom</figcaption>
                    </figure>
                </div>


            </div>
    </div>


{% endblock %}
