{% extends "page.html" %}

{% block content %}
    <div id="top">
        <div>
            <h2 style="margin-bottom: 5px">Last.FM - (something meaningful here)</h2>
            <small>{{blog.pretty_time}}</small>
        </div>
            <h3>Still being written...</h3>
    </div>

    <ul>
        <li><a href="#introduction">intro</a></li>
        <li><a href="#issues">issues</a></li>
        <li><a href="#improvements">how could it be improved</a></li>
        <li><a href="#alternatives">alternatives?</a></li>
    </ul>

    <div id="introduction">
        <h3 id="introduction">Intro to Last.FM</h3>
        <p>

        </p>
    </div>

    <div id="issues">
        <h3 id="issues">The problems with the site.</h3>
        <p>

        </p>
    </div>

    <div id="improvements">
        <h3 id="improvements">How can it improve?</h3>
        <p>

        </p>
    </div>

    <div id="alternatives">
        <h3 id="alternatives">Alternatives to Last.FM</h3>
        <p>

        </p>
    </div>



{% endblock %}