<meta charset="UTF-8">
<title>twitch.dance</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/a11y-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<style>

    @media (prefers-color-scheme: dark) {
        body {
            background-color: #121212;
            color: white;
        }

        a {
            color: #BB86FC;
        }

    }

    @media screen and (prefers-color-scheme: light) {
        body {
            background-color: white;
            color: black;
        }
    }
</style>

