<header>

    <div style="display: flex; flex-flow: row wrap">

        <div id="b-title">
            <h1>twitch's personal site 💙</h1>
            <div id="nav" style="align-self: end">
                <p>
                    <a href="/">home</a> &middot;
                    <a href="/projects">projects</a> &middot;
                    <a href="/blog">blog</a> &middot;
                    <a href="/socials">socials</a>
                </p>
            </div>
        </div>

        <div id="pfp" style="margin-left: auto">
            <img src="https://media.twitch.dance/howl.png" style="height: 100px; width: 100px" alt="Howl from Howl's Moving Castle">
        </div>
    </div>

    <hr style="color: #BB86FC;"/>
</header>