<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}
<body>
{% include 'header.html' %}


<h2>Hi I'm twitch/gabi</h2>
<p>I'm a programmer and electronics nerd who loves music!</p>
<p>Currently studying Electronic Engineering at UWE</p>


<h3>Skills:</h3>
<ul>
        <li>Python</li>
        <ul>
                <li>Particularly in asynchronous applications</li>
                <li>FastAPI/Starlette</li>
        </ul>
        <li>SQL - PostgreSQL</li>
        <li>Elixir</li>
        <li>Creating and using HTTP APIs (REST & CRUD)</li>
        <li>Linux - Debian & Arch</li>
        <li>Websocket based realtime systems</li>
        <li>Some Java & Kotlin (mostly with android)</li>
        <li>Javascript & Vue (as seen by this well designed page)</li>

        <li>Soldering</li>
        <li>Some knowledge of Electronics</li>
        <li>Limited C in embedded systems (mostly with QMK)</li>
</ul>


{% include 'footer.html' %}
Contact: twitch7443 (at) protonmail.com
</body>
</html>