<!DOCTYPE html>
<html lang="en">

<head>
    {% block nohead %}
    <title>twitch.dance</title>
    <meta property="og:title" content="twitch.dance" />
    <meta property="og:url" content="https://twitch.dance" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://media.twitch.dance/chickens.gif"/>
    {% endblock %}
    {% include 'head.html' %}
</head>
<body>
{% include 'header.html' %}



<div>
<h2>Hi I'm twitch/Gabi/Rodrigo</h2>
    <h3 style="margin-bottom: 2px">Studying Electronic Engineering at UWE</h3>
    <p style="margin-bottom: 3px">I'm a programmer and electronics nerd with a passion for motorsports and music</p>
    <p>Head of Electronics @ UWE Formula Student</p>
</div>

<h3>Skills:</h3>
<ul>
        <li>Low Voltage Electronics</li>
        <ul>
            <li>Automotive wiring looms</li>
            <li>RP2040 use in self-made PCBs (both personal and formula student)</li>
            <li>CAN-BUS based control and telemetry</li>
            <li>PID Control tuning for Electronic Throttle Body</li>
        </ul>
        <li>Powertrains</li>
        <ul>
            <li>Design and manufacturing of low-voltage Battery Packs</li>
            <li>Self-made controller for interfacing with Hargrave ESCs over CAN-BUS</li>
        </ul>

        <li>Limited C in embedded systems</li>
        <li>Python</li>
        <ul>
                <li>Particularly in asynchronous applications</li>
                <li>FastAPI/Starlette</li>
                <li>PySide6 (Lobster Control Panel as an example)</li>
                <li>Flask (this website)</li>
        </ul>
        <li>SQL - PostgreSQL</li>
        <li>Elixir (brief use)</li>
        <li>Creating and using HTTP APIs (REST & CRUD)</li>
        <li>Linux - Debian & Arch</li>
        <li>Websocket based realtime systems</li>
        <li>Some Java & Kotlin (mostly with android)</li>
        <li>Javascript & Vue (as seen by this well designed page)</li>
        <li>Soldering</li>
</ul>


{% include 'footer.html' %}
Contact: twitch7443 (at) protonmail.com
</body>
</html>