<!DOCTYPE html>
<html lang="en">

<head>
    {% block nohead %}
    <title>twitch.dance</title>
    <meta property="og:title" content="twitch.dance" />
    <meta property="og:url" content="https://twitch.dance" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://media.twitch.dance/chickens.gif"/>
    {% endblock %}
    {% include 'head.html' %}
</head>
<body>
{% include 'header.html' %}



<div>
<p style="margin-bottom: 3px">Hello, I'm a programmer and electronics engineering hobbyist with a passion for motorsports and music.</p>
<p>Looking for a career in the Automotive or Railway industry in embedded software development & electrical systems design.</p>
</div>

<h3>Skills:</h3>
<ul>
    <li>Low Voltage Electronics</li>
        <ul>
            <li>Wiring Looms (for Formula Student)</li>
            <li>RP2040 use in self-made PCBs (personal)</li>
            <li>STM32 for CAN Control Board</li>
            <li>CAN-BUS based control and telemetry</li>
            <li>PID Control tuning for Electronic Throttle Body</li>
        </ul>
    <li><a href="https://www.uweformulastudent.co.uk">UWE Formula Student </a></li>
        <ul>
            <li>Team President 2024-25</li>
            <li>Head of Electronics 2022-2024</li>
            <br>
            <li>Design and manufacture of low-voltage Battery Pack</li>
            <li>Self-made CAN Controller for Hybrid-system</li>
            <ul>
                <li>Speaks with LifeRacing ECU and Controls two ODrive Motor Controllers</li>
                <li>OrionBMS over CAN</li>
            </ul>
        </ul>

        <li>Limited C in embedded systems (QMK, STM32, Briefly RP2040)</li>
        <li>Python</li>
        <ul>
                <li>Particularly in asynchronous applications</li>
                <li>FastAPI/Starlette</li>
            <li>PySide6 (<a href="/projects/lobstercontrol">Lobster Control Panel</a> as an example)</li>
                <li>Flask (this website)</li>
        </ul>
        <li>SQL - PostgreSQL</li>
        <li>Elixir (Previously, Looking to get back into it)</li>
        <li>Creating and using HTTP APIs (REST & CRUD)</li>
        <li>Linux - Debian & Arch</li>
        <li>Websocket based realtime systems</li>
        <li>Some Java & Kotlin (mostly with android)</li>
        <li>Javascript & Vue (as seen by this well designed page)</li>
        <li>Soldering</li>
</ul>


{% include 'footer.html' %}

</body>
</html>
