<!DOCTYPE html>
<html lang="en">

<head>
    <title>twitch - socials</title>
    {% include 'head.html' %}
</head>
<body>
{% include 'header.html' %}

<h3>Here's most places you can contact/find me on!</h3>

<ul>
        <li><a href="https://github.com/twitch0001">Github: twitch0001</a></li>
        <li>Discord: twitch7443 (inactive)</li>
        <li>Email: twitch7443 (at) protonmail.com</li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/rodrigo-rocha-1a6069231/">here</a></li>
        <li>Twitch: <a href="https://twitch.tv/twitch7443">twitch7443</a></li>
        <li>MonkeyType: <a href="https://monkeytype.com/profile/twitch7443">twitch7443</a></li>
</ul>

{% include 'footer.html' %}
</body>
</html>